html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.container {
  width: 960px;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.spc-btn {
  display: flex;
  justify-content: space-between;
}

.pos-top {
  position: relative;
  top: 2.32rem;
}

.black {
  background-color: black;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

header a {
  font-size: 1rem;
  margin: 0.66rem 0 0.66rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/* Hero */

.hero {
  background: url(/Users/AaronHymoff/Desktop/Projects/Codecademy/05-Responsive-Web/01-Secret-Agent-Supply/Resources/Images/moto.jpeg) no-repeat center;
  background-size: cover;
  height: 25rem;
  width: 100%;

}

.hero-text-box {
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

.text p {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.text h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}


/* Nav */

nav {
  background-color: firebrick;
  width: 100%;
}

nav a {
  display: flex;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-decoration: none;
  color: white;
}

nav .tablet {
  display: none;
}


/* Content */

.content-container {
  margin-top: 3rem;
}

.content-box {
  border: 4px solid black;
  flex-direction: column;
  width: 30%;
  margin-bottom: 3rem;
}

.content-box-image {
  margin: 2rem auto;
}

.content-images {
  display: block;
  height: 9rem;
  max-width: 100%;
}

.glasses-content-box-image {
  margin: 4.25rem auto;
}

.glasses {
  display: block;
  height: 4.5rem;
  max-width: 100%;
}

.black p {
  margin: 0.5rem auto;
}

/* Mini Content */

.content-mini {
  margin-bottom: 4rem;
}

.content-text-mini, .content-text-mini2 {
  width: 35%;
}

.content-text-mini p {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-text-mini2 p {
  color: black;
  margin-top: 0.1rem;
}

/* Footer */

footer {
  height: 5rem;
}


/* Tablet */

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  nav .desktop {
    display: none;
  }

  nav .tablet {
    display: flex;
  }

  .content-container {
    flex-wrap: wrap;
  }

  .content-box {
    width: 47%;
  }
}

/* Mobile */




































/* hi */
